@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: #d8d8d8;
    padding: 20px;
}

.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerItem{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerUp{
    display: flex;
    flex-direction: row;    
}

.footerUpTxt{
    z-index: 0;
    background-color: white;
    border-radius: 50px;
    margin-right: 30px;
    color: #b1b1b1;
    transform: skew(-15deg, 0);
    flex: 7;
}

.footerUpTxt div{
    background-color: white;
    transform: skew(15deg, 0);
    margin-right: 20px;
    border-radius: 50px;
    padding: 30px;
    margin-left: -20px;
    font-style: italic;
}

.footerUpImg{
    flex: 3;
    /* background-color: rebeccapurple; */
}

.footerUpImg img{
    width: 70%;
}



.footerMid{
    display: grid;
    grid-template-columns: 7fr 7fr 7fr;
    align-items: start;
    background-color: #d8d8d8;
    margin-bottom: 50px;
    margin-top: 50px;
}


.footerMid-1 {
    margin-right: 20px;
    
}

.gofImg{
    width: 95%;
    background-color: green;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footerMid-2 {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 3fr 4fr;
}
/* .footerMid-3 {
    margin-right: 20px;
} */
/* .footerMid-4 {
} */

.footerMidLogo{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.logo1{
    max-height: 50px;
}

.logo2{
    max-height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.footerLst{
    margin-top: 15px;
}

.footerLst li{
    list-style: none;
    font-style: italic;
    margin-top: 8px;
    color: #b1b1b1;
}

.block{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 20px 10px;
    color: #b1b1b1;
    font-style: italic;
}

.block i{
    color: black;
    margin-right: 10px;
}

.phoneBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footerBottom{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    color: #b1b1b1; 
    font-style: italic;
}

@media screen and (max-width: 1700px) {
    .footerMidLogo{
        flex-direction: column;
    }
}


@media screen and (max-width: 1250px) {

    .footerItem{
        width: 90vw;
    }

    

    .footerUpTxt div {
        font-size: 13px;
    }

    .footerUpImg img {
        width: 100%;
    }

    .footerLst{
        font-size: 11px;
    }

    .block{
        font-size: 11px;
    }
}

@media screen and (max-width: 800px) {

    .footerLst{
        font-size: 15px;
    }

    .block{
        font-size: 15px;
    }

    .footerUpTxt div {
        font-size: 10px;
    }

    .footerMid {
        grid-template-columns: 1fr;
    }

    .footerItem{
        font-size: 13px;
    }

}

@media screen and (max-width: 600px) {
    .footerUpTxt {
        background-color: transparent;
    }

    .footerUp{
        flex-direction: column-reverse;
        align-items: start;
    }

    .footerItem{
        width: 95vw;
    }

    .footerUpTxt div{
        margin:0;
        border-radius: 20px;
    }

    .footerUpImg img {
        width: 65%;
        margin-bottom: 20px;
    }

    .footerMid{
        grid-template-columns: 1fr;
    }
}